*
{
margin:0px;
padding:0;
font-family:Century Gothic;

}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../2.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
ul
{
margin-top:25px;
float:right;
list-style-type:none;
}
ul li
{
display:inline-block;
}
ul li a
{
text-decoration:none;
color:#fff;
padding:5px 20px;
border:1px solid transparent;
transition:0.6s ease;
}
ul li a:hover
{
background-color:#fff;
color:#000;
}
ul li.active a
{
background-color:#fff;
color:#000;
}
.logo
{
float:left;
width:50px;
height:auto;
margin:20px;

}
.main
{
max-width:1200px;
margin:auto;
}
.title
{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.title h1
{
color:#fff;
font-size:70px;
}
.button
{
  position:absolute;
  top:62%;
  left:50%;
  transform:translate(-50%,-50%);
}
.btn
{
   border:1px solid #fff;
   padding:10px 30px;
   color:#fff;
   text:decoration:none;
   transition:0.6s ease;
}
.btn:hover
{
    background-color:#fff;
    color:#000;
}
.main2
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../4.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main3
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main4
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../3.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main5
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../5.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main6
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../6.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main7
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../7.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.main8
{
margin-top:0px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../8.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
.introduction
{
margin-top:80px;
 word-spacing: 10px;
line-height: 150%;
color:#fff;
text-align:center;

}
.in
{
padding-top:50px;
text-align:center;


}
.c3
{
padding-top:50px;
text-align:center;


}
.p3
{
margin-top:80px;
 word-spacing: 10px;
line-height: 150%;
color:#000;
text-align:center;
}
.graph
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:100px;
  margin-bottom:100px;

}